/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/
*{
  font-family: "Open Sans", sans-serif;
}
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Animación de carga */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #03C4EB;
  color: #fff;
}

/*--------------------------------------------------------------
# LOGO
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#hero .logoH{
  width: 400px;
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo video {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.6);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

.video-foreground,
.video-foreground video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
/*--------------------------------------------------------------
# NAVBAR
--------------------------------------------------------------*/
#header {
  background: #111;
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #03C4EB;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# SECCIONES
--------------------------------------------------------------*/
/* General
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Login
--------------------------------*/
#login {
  background: #fff;
  padding: 80px 0;
}

#login .login-content {
  background: #fff;
}

#login .login-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#login .login-text {
  line-height: 26px;
}

#login .login-text:last-child {
  margin-bottom: 0;
}

form[role=login] {
  font: 14px/1.6em;
  padding-top: 24px;
  color: #959595;
  max-width: 320px;
  margin: 0 auto;
 
    
}

  form[role=login] .input-group-addon {
    border: none;
    background: #f1f1f1;
  }

  form[role=login] input[type=text],
  form[role=login] input[type=password] {
    border: none;
    background: #f1f1f1;
    box-shadow: none;
    height: 36px;
    transition:background 0.3s ease;
    -webkit-transition:background 0.3s ease;
    -moz-transition:background 0.3s ease;
  }

  form[role=login] input[type=text]:hover,
  form[role=login] input[type=password]:hover {
     background: #eaeaea;
  }

  form[role=login] input[type=text]:focus,
  form[role=login] input[type=password]:focus{
    background: #eaeaea;
  }

  form[role=login] > div {
    position: relative;
    margin: 24px 0;
  }

  form[role=login] > section {
    margin: 20px 0;
    text-align: left;
  }

  /* registro */
  form[role=registro] {
  font: 14px/1.6em  ;
  padding-top: 24px;
  color: #959595;
  max-width: 320px;
  margin: 0 auto;
}

  form[role=registro] .input-group-addon {
    border: none;
    background: #f1f1f1;
  }

  form[role=registro] input[type=text],
  form[role=registro] input[type=password],
  form[role=registro] input[type=email] {
    border: none;
    background: #f1f1f1;
    box-shadow: none;
    height: 36px;
    transition:background 0.3s ease;
    -webkit-transition:background 0.3s ease;
    -moz-transition:background 0.3s ease;
  }

  form[role=registro] input[type=text]:hover,
  form[role=registro] input[type=password]:hover,
  form[role=registro] input[type=email]:hover {
     background: #eaeaea;
  }

  form[role=registro] input[type=text]:focus,
  form[role=registro] input[type=password]:focus,
  form[role=registro] input[type=email]:focus {
    background: #eaeaea;
  }

  form[role=registro] > div {
    position: relative;
    margin: 24px 0;
  }

  form[role=registro] > section {
    margin: 20px 0;
    text-align: center;
  }

.form-control {
  padding-left: 40px;
}

.form-control + .glyphicon {
  position: absolute;
  left: 0;
  top: 13%;
  padding: 8px 0 0 12px;
}

#login .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
  border-radius: 3px;
  transition:background 0.5s ease;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
}

#login .btn-get-started:hover {
  background: none;
  border: 2px solid #000;
  color: #000;
  transition:background 0.5s ease;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

.errordatos{
  display: none;
  background-color: #E95D4D;
  border: none;
  border-radius: 4px;
  color: #fff;
}
.errordatos i{
  color: #fff;
  padding-right: 5px;
}

.botonesrp{
    
    width: 70px;
    height: 70px;
}
.botonhide{
    display: none;
}

.lateral{
    width: 100%;
    margin: 0;
    padding: 0;
 
   
}
.central{
    background: ;
 
}
.contenido{
    width: 100%;
    height: 100%;
    margin: auto;
}
.boddy {
    width: 100%;
    background:#D4D6DE;
    

}
.neww{
    margin-top: 10px;
}
.thumbnail .imgf{
    width: 100%;
    height: 150px;
    
}
.cuerpoft{
    margin-top: 5px;
    padding: 0;
}
.cuerpoft p,h4{
    margin: 0;
}
.cuerpoft h4{
    
    display: none;
}
.cuerpoft .btn{
    width: 100%;
}
.segunda{
  display: flex;
width: 100%;
}
.segizq{
    display: flex;
    width: 50%;
    border-right: 3px dashed #D4D6DE;
}
.imgizquierda{
    width: 100px;
    height:100px;
}
.imgizquierda img{
    width: 100%;
    height: 100%;
}

.textoderecha{
    margin-left: 5px;
    
}
.textoderecha h4,p{
    margin: 0;
}
.orgfiesta{
    border: 2px solid #D4D6DE;
    margin-bottom: 5px;
}
.org{
    border-bottom: 1px dashed #D4D6DE ;
}
.scrolls{
    overflow-x: hidden;
    overflow-y: scroll
}
.paneleditev{
    background: #fff;
}
.eventitle{
    display: flex;
    margin-bottom: 0px;
    background: #fff;
    padding: 10px;
    height:50px;
    box-shadow: 1px 1px 5px 0px;
}
.texttitle{
    width: 80%;
    margin: auto;
    
}
.icontitle{
    width: 20%;
    margin: 5px;
}
.evenbody{
    background: #fff;
    padding: 0px 0px;
    margin-bottom: 5px;
    
}
.panelcollapse{
    background: #fff;
}

.bodyedit{
    width: 100%;
    padding: 5px 0px;
    margin: auto;
    display: flex;
}
.eventsubtitle{
   
    
   
}
.submitinput input{
    width: 100%;    
    background: #03C4EB;
    border: 2px solid #03C4EB;
    transition: 0.5s ease;
    color: #fff;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.333333;
    border-radius: 6px;
}
.submitbutton button{
    width: 100%;
    transition: 0.5s ease;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    border:2px solid #fa1414;
    background: #fa1414;
    color:#fff;
}
.submitbutton button:hover{
    background: none;
    border: 2px solid #000;
    color: #000;
    transition: 0.5s ease;
}
.submitinput input:hover{
    background: none;
    border: 2px solid #000;
    color: #000;
    transition: 0.5s ease;
}
.edicionevent{
    border: 1px solid #999;
    margin: 10px;
    padding: 
}
.eventsubtitle h4{
     border: 1px solid #999;
    padding: 10px;
    box-shadow: 1px 1px 5px 0px;
    
}
.datosdel{
    margin: 10px;
   background: #fa1414;
    border: 2px solid #fa1414;
    transition: 0.5s ease;
    color: #fff;
    padding: 5px 8px;
    font-size: 18px;
    line-height: 1.333333;
    border-radius: 6px;
    display: flex;
}
/**.datosdel:hover{
    background: none;
    border: 2px solid #000;
    color: #000;
    transition: 0.5s ease;
}**/
.datosdel a{
    color: #fff;
}
.datosdel span i{
        margin: -10px 5px;
}
/*.datosdel:hover a{
    color: #000;
}*/
.textodel{
    width: 90%;
}
.icondel{
    margin: auto;
}
.boton-title{
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0px;
    
}
.boton-titulo{
    width: 100%;
    border-radius: none;
    border: none;
    font-size: 22px;
    background: none;
    color: #03C4EB;
}
.collapse{
    background: #fff;
}
.boton-titulo span i{
    float: right;
}
.segundafila{
    margin-top: 20px;
    
}
.submitinput{
    display: flex;
}


@media screen and (max-width:600px){
    .lateral{
        display: ;
    }
}